@model IEnumerable<DAL.QLNHangData.Tbltablecategory>

@{
    ViewData["Title"] = "Quản lý bàn tiệc";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-success btn-flat btn-sm">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên loại bàn
            </th>
            <th>
                Hình ảnh
            </th>
            <th>
                Mô tả
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TabcaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-sm btn-flat btn-warning" asp-route-id="@item.TabcaId"><i class="fa fa-pencil"></i></a> |
                @*<a asp-action="Details" asp-route-id="@item.TabcaId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.TabcaId" class="btn btn-sm btn-flat btn-danger"><i class="fa fa-close"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
